html{
  font-family: 'Acme', sans-serif;
}
h1{
  letter-spacing: 1px;
  color: #40e0d0;
  font-size: 36px;
}
h2{
  letter-spacing: 1px;
  color: #40e0d0;;
  margin-bottom: 6px;
  margin-top: 6px;
}
input[type=text]{
  color: #693D3D;
  width: 78%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 15px;
}
input[type=submit]{
  background-color: #693D3D;
  border: none;
  color: white;
  padding-top:12px;
  padding-bottom:12px;
  margin-left:12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #999;
}
table{
  border-collapse: collapse;
}
/* table, td, tr, th{
  border: 1px solid black;
} */

body{
  background-image: url("https://static.wixstatic.com/media/0b8670_c56c3d4e2a4c4e1d83f38b12ae4ded95~mv2.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gainsboro;
}
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
#game-container{
  position:relative;
  top: -200px;
}
#start{
  background-color: #693D3D;
  border: none;
  color: white;
  padding-top:12px;
  padding-bottom:12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #999;
}
#stats{
  background-color: #693D3D;
  border: none;
  color: white;
  padding-top:12px;
  padding-bottom:12px;
  margin-left:30px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #999;
}
#reset{
  background-color: #693D3D;
  border: none;
  color: white;
  padding-top:12px;
  padding-bottom:12px;
  margin-left:20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #999;
}
#world-stats{
  background-color: #693D3D;
  border: none;
  color: white;
  padding-top:12px;
  padding-bottom:12px;
  margin-left:20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #999;
}
.stat{
  padding-top: 200px;
}
.stat table{
  border: 6px solid #46211A;
  color: ghostwhite;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #BA5536;
  border-radius: 15px;
  overflow:hidden;

}
.stat th, .stat td{
  width: 30%;
  border-color: #46211A;
  border: 2px solid #46211A;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#button-grid table{
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}
#button-grid tr, #button-grid td{
  height: 30px;
  width: 30px;
  border: 0;
  background-color: rgba(167, 241, 233, 0.6);
}
#button-grid button{
  height:100%;
  width:100%;
  background-color: #7beadf;
}
#space-down{
  padding-top:200px;
}

#difficulty select {
  font-family: 'Acme', sans-serif;
  width: 90px;
  background-color: rgba(68,36,46,0.9);
  color: #40e0d0;
  height: 25px;
  border: 0;
  font-size: 16px;
}
#button-grid{
  display:inline-block;
}
